body{
    padding-top: 70px;
    background-color: #f5f5f5;
}

.navbar .navbar-brand{
    margin-left: 15px;
  }

.username{
    font-weight: bold;
}

rating { 
  border: none;
  float: left;
  margin:0px 0px 0px 10px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin-top: 2px;
  padding:0px 5px 0px 5px;
  font-size: 1.0em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
	color: #fff; 
	float: right;
	margin:0px 1px 0px 0px;
	background-color:#D8D8D8;
	border-radius:15px;
  height:25px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { 
	background-color:#0000FF !important;
  cursor:pointer;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { 
	background-color:#0000FF !important;
  cursor:pointer;
} 

#outer
{
    width:100%;
    text-align: center;
}

.inner
{
    display: block;
}


span {
  font-size: 0; /* trick to remove inline-element's margin */
}


* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}
.left {
  width: 7%;
}
.right{
	width:15%;
}

.middle {
  width: 78%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnX {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

